* {
  margin: 0;
  padding: 0;
  cursor: default;
}
body {
  font-family: "Barlow", sans-serif;
  background: #f7f6f5;
  color: #312b24;
}
header {
  margin: 0 150px;
}
main {
  margin: auto;
}
h1 {
  font-size: 70px;
  text-align: center;
}
.note {
  font-family: "Dancing Script", cursive;
  font-style: italic;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style-type: disc;
  margin: 40px;
}
.img {
  border: 10px inset #312b24;
  height: 400px;
  width: 400px;
  object-fit: cover;
  margin-left: 30%;
}
article {
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  line-height: 1.5;
  width: 80%;
}
h2 {
  font-size: 20px;
  color: #312b24;
}
.overview {
  width: 100%;
  display: flex;
}
.fun-facts {
  margin: 90px;
  list-style-type: circle;
}
footer{
    text-align: center;
    font-size: 10px;
}
/* pseudo elements */
li:hover{
    color: #0f0e0c;
    transition: all .6s ease-in-out;
}
@media screen and (max-width: 400px){
}